<div class="row">
	<div class="col-md-12">
		<div class="col-md-2"  id="section-title">
			MENU 
		</div>
		<div class="col-md-10" id="section-header">
			<i class="fa fa-angle-double-right"></i>
		</div>
		
		<nav role="liquidzz-menumaincategory-navigation">
			<ul class="nav nav-pills nav-justified" id="menumaincategory">
				<li>
					<a href="/menu/breads">
						<i class="menucategory-burger1"></i>
						<span>Breads</span>
					</a>
				</li>
				<li>
					<a href="/menu/juices">
						<i class="menucategory-cocktail15"></i>
						<span>Juices</span>
					</a>
				</li>
				<li>
					<a href="/menu/coffees">
						<i class="menucategory-hot51"></i>
						<span>Coffees</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<!-- <div class="col-md-3">
		<nav role="liquidzz-menumaincategory-navigation">
			<ul class="nav nav-stacked" id="menumainsubcategory">
				<li ng-repeat="category in categories"><a href="{{ category.url }}"> {{ category.title }}</a></li>
			</ul>
		</nav>
	</div> -->
	<div class="col-md-12">
		<div id="featured-product" ng-hide="featured">
			<img src="/assets/main/test/1.png">
			<div class="cover-top">
				<h1>FEATURED</h1>
			</div>
			<div class="cover-bottom"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<div id="product-box" ng-hide="featured">
					<img src="/assets/main/test/1.png">
					<p>The final baking happens at home, simply by place it for one minute in your toaster.</p>
					<div class="cover-top">
						<h1>JUICE</h1>
					</div>
					<div id="cost">
						<span class="rupeesign">&#8377;</span> 
						<span class="rupee">80</span>
						<span class="paise">00</span>
						<button class="btn" id="addtocartbutton">Add to Cart</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="product-box" ng-hide="featured">
					<img src="/assets/main/test/1.png">
					<p>Oelz is an Austrian bakery and market leader in pastries. </p>
					<div class="cover-top">
						<h1>JUICE</h1>
					</div>
					<div id="cost">
						<span class="rupeesign">&#8377;</span> 
						<span class="rupee">80</span>
						<span class="paise">00</span>
						<button class="btn" id="addtocartbutton">Add to Cart</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="product-box" ng-hide="featured">
					<img src="/assets/main/test/1.png">
					<p>Oelz is an Austrian bakery and market leader in pastries. They introduced a new product called "Toast It", a kind of a dough pocket filled with apple or nougat. </p>
					<div class="cover-top">
						<h1>JUICE</h1>
					</div>
					<div id="cost">
						<span class="rupeesign">&#8377;</span> 
						<span class="rupee">80</span>
						<span class="paise">00</span>
						<button class="btn" id="addtocartbutton">Add to Cart</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="product-box" ng-hide="featured">
					<img src="/assets/main/test/1.png">
					<p>Oelz is an Austrian bakery and market leader in pastries. They introduced a new product called "Toast It", a kind of a dough pocket filled with apple or nougat.</p>
					<div class="cover-top">
						<h1>JUICE</h1>
					</div>
					<div id="cost">
						<span class="rupeesign">&#8377;</span> 
						<span class="rupee">80</span>
						<span class="paise">00</span>
						<button class="btn" id="addtocartbutton">Add to Cart</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div id="product-box" ng-hide="featured">
					<img src="/assets/main/test/1.png">
					<p>Oelz is an Austrian bakery and market leader in pastries.</p>
					<div class="cover-top">
						<h1>JUICE</h1>
					</div>
					<div id="cost">
						<span class="rupeesign">&#8377;</span> 
						<span class="rupee">80</span>
						<span class="paise">00</span>
						<button class="btn" id="addtocartbutton">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>