<div class="row">
	<div class="col-md-12">
		<div class="col-md-2"  id="section-title">
			OFFER
		</div>
		<div class="col-md-10" id="section-header">
			<i class="fa fa-angle-double-right"></i>
		</div>
		<nav role="liquidzz-menumaincategory-navigation">
			<ul class="nav nav-pills nav-justified" id="menumaincategory">
				<li>
					<a href="/offer/package">
						<i class="offer-box37"></i>
						<span>Package</span>
					</a>
				</li>
				<li>
					<a href="/offer/meal">
						<i class="promotion-spaghetti1"></i>
						<span>Meal</span>
					</a>
				</li>
				<li>
					<a href="/offer/kidsoffer">
						<i class="offer-kids1"></i>
						<span>Kids Offer</span>
					</a>
				</li>
				<li>
					<a href="/offer/catering">
						<i class="offer-buffet"></i>
						<span>Catering</span>
					</a>
				</li>	
				<li>
					<a href="/offer/birthdaysparties">
						<i class="offer-couple17"></i>
						<span>Birthdays & Parties</span>
					</a>
				</li>				
			</ul>
		</nav>
	</div>
</div>