<div class="row">
	<div class="col-md-12">
		<div class="col-md-2"  id="section-title">
			PROMOTION
		</div>
		<div class="col-md-10" id="section-header">
			<i class="fa fa-angle-double-right"></i>
		</div>
		<nav role="liquidzz-menumaincategory-navigation">
			<ul class="nav nav-pills nav-justified" id="menumaincategory">
				<li>
					<a href="/promotion/todaysoffer">
						<i class="promotion-today1"></i>
						<span>Today's Offer</span>
					</a>
				</li>
				<li>
					<a href="/promotion/monthlygift">
						<i class="promotion-gift50"></i>
						<span>Monthly Gift</span>
					</a>
				</li>	
				<li>
					<a href="/promotion/mediaadvertisement">
						<i class="promotion-megaphone1"></i>
						<span>Media & Advertisement</span>
					</a>
				</li>				
			</ul>
		</nav>
	</div>
</div>